*.la
*.lo
*.o
*.a
*.gcda
*.gcno
*.gcov
.*.swp
.deps
.libs
Makefile
Makefile.in
config.*
compile
aclocal.m4
autom4te.cache
default.apspec
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
dymaxion-0.3.pc
dymaxion.spec
dymaxion-*.tar.bz2
dymaxion-*.tar.gz
mingw32-dymaxion.spec
missing
stamp-h1
test-driver
*test
*.log
*.trs
dymaxion/Areaintegration
dymaxion/Segmentperf
dymaxion/testPhys
dymaxion/testQRNG
dymaxion/testWFMath
dymaxion/test*.pgm
dymaxion/timeSeg
